<% start_of_week = DateTime.now.beginning_of_week%>
<% end_of_week = start_of_week + 1.week %>
<% day_counter = DateTime.now.beginning_of_day %>
<h1>Edit Current Booking</h1>

<% booking = Booking.find(params[:id]) %>
<p>
	<strong>Current Reservation info:</strong> <br>
	Time: <%= booking.time.strftime("%F") %><br>
	Court: <%= booking.court %><br>
</p>


<strong>Change the booking to: </strong> <br>
<form action="/bookings/<%= @booking.id %>" method="post">
	<input id="hidden" type="hidden" name="_method" value="patch">
	
	<label>Court 1:</label>
  <select name="court_1_time">
  	<option value="blank"></option>

		<% while day_counter < end_of_week + 6.days %>
			<% day_counter += 1.day %>
			<option value="<%= "#{day_counter}" %>" <%= 'disabled' if day_counter != @booking.time && Booking.where("time = ? AND court = ?", day_counter, 1) != [] %>>

				<%= day_counter.strftime("%F") %>
			</option>
		<% end %>
	</select><br>

	<label>Court 2:</label>
  <select name="court_2_time">
  	<option value="blank"></option>
  	<% day_counter = DateTime.now.beginning_of_day %>
		<% while day_counter < end_of_week + 6.days %>
			<% day_counter += 1.day %>
			<option value="<%= "#{day_counter}" %>" <%= 'disabled' if day_counter != @booking.time && Booking.where("time = ? AND court = ?", day_counter, 2) != [] %>>

				<%= day_counter.strftime("%F") %>
			</option>
		<% end %>
	</select><br>


	<input type="submit" value="Update" id="update">
</form>
<br><br>

Time created: <%= @booking.created_at %><br>
Last updated: <%= @booking.updated_at %><br>