<% #put these in helper method %>
<% start_of_week = DateTime.now.beginning_of_week%>
<% end_of_week = start_of_week + 1.week %>
<% day_counter = end_of_week %>

<h1>Remaining reservations for the week:</h1>

<ul>
<% Booking.where("time > ?", DateTime.now).order(:time).each { |booking| %>
	<% if booking.time < end_of_week %>
		<li>
			Booking time: <%= "#{booking.time.strftime("%F")}\n" %>
			Booked by: <%= booking.user.username %>
			<% if current_user == booking.user %>
				<form action="/bookings/<%= booking.id %>/edit" method ="get">
					<input type="submit" value='Edit'>
				</form>

				<form action="/bookings/<%= booking.id %>/delete" method="post">
					<input id="hidden" type="hidden" name="_method" value="delete">
					<input type="submit" value="Delete" id="delete">
				</form>

			<% end %>
		</li>
	<% end %>
<% } %>
</ul>

<h1>Bookings in the next week:</h1>

<ul>
<% while day_counter < end_of_week + 1.week do %>
	<li>
		<%= "Booking time: #{day_counter.strftime("%F")}" %>

		<% if (booking = Booking.where("time = ?", day_counter)) != [] %>
			Booked by: <%= booking.first.user.username %>
			<% if current_user == booking.first.user %>
				<form action="/bookings/<%= booking.first.id %>/edit" method ="get">
					<input type="submit" value='Edit'>
				</form>

				<form action="/bookings/<%= booking.first.id %>/delete" method="post">
					<input id="hidden" type="hidden" name="_method" value="delete">
					<input type="submit" value="Delete" id="delete">
				</form>

			<% end %>
		<% else %>
			<form action="/bookings" method="post">
				<input type="hidden" name="time" value="<%= day_counter %>">
				<input type="submit" value="Book Now">
			</form>
		<% end %>
	</li>
	<% day_counter += 1.day %>
<% end %>
</ul>

Click <a href="/users/<%= current_user.username %>">here</a> to see all of your bookings.<br>

