<h1><%= current_user.username %>'s reservations</h1>

<h2>Reservation history:</h2>
<ul>
<% Booking.where(user_id: session[:id]).order(:time).each { |booking| %>
		<% if booking.time < DateTime.now %>
			<li>
				 <%= "Court #{booking.court} booked for #{booking.time.strftime("%F")}\n"%>
			</li>
		<% end %>
<% } %>
</ul>

<h2>Active bookings:</h2>
<ul>
<% Booking.where(user_id: session[:id]).order(:time).each { |booking| %>
	<% if booking.time >= DateTime.now %>
		<li>
			<%= "Court #{booking.court} - booked for #{booking.time.strftime("%F")}\n"%>
			<form action="/bookings/<%= booking.id %>/edit" method ="get">
				<input type="submit" value='Edit'>
			</form>

			<form action="/bookings/<%= booking.id %>/delete" method="post">
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete" id="delete">
			</form>
		</li>
	<% end %>
<% } %>
</ul>

Click <a href="/bookings/show">here</a> to see all current bookings.<br>